cloud_id                 = "sdfgsdf"
folder_id                = "vsdvaser"
zone                     = "ru-central1-a"
image_id                 = "sadfsdc"
public_key_path          = "C:/.ssh/appuser.pub"
private_key_path         = "C:/.ssh/appuser"
subnet_id                = "asdfsaerer"
service_account_key_file = "C:/.ssh/key.json"
resource_zone            = "app"