cloud_id                 = "b1gko7qu6v8bjnho7i70"
folder_id                = "b1g33iulb1bui7qd5aa9"
zone                     = "ru-central1-a"
image_id                 = "fd882dvqdegjpnlpjq14"
public_key_path          = "C:/.ssh/appuser.pub"
private_key_path         = "C:/.ssh/appuser"
subnet_id                = "e9bbm9286dr4jgo5bnae"
service_account_key_file = "C:/.ssh/key.json"
resource_zone            = "app"
app_disk_image = "fd8afv18jrmfbe1eppkr"
db_disk_image = "fd8cm7fj9dvi95h2bluf"
